@import url('https://fonts.cdnfonts.com/css/apple-garamond');
@import url('https://fonts.cdnfonts.com/css/campton');
@import 'tailwindcss';

@theme {
  --font-campton: 'Campton', sans-serif;
  --font-apple-garamond: 'Apple Garamond', sans-serif;
  --font-apple-garamond-light: 'Apple Garamond Light', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #353f50;
  font-family: 'Campton', sans-serif;
  font-family: 'Apple Garamond', sans-serif;
  font-family: 'Apple Garamond Light', sans-serif;
}
